# Virtual environment
venv/
env/
.env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Model/scaler saved files (optional - agar large hain)
*.pkl
*.h5
*.keras

# Data files (optional)
*.csv

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/